################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APITest/.vs/APITest/v15/Server/sqlite3/storage.ide-wal
/APITest/.vs/APITest/v15/Server/sqlite3/storage.ide-shm
/APITest/.vs/APITest/v15/Server/sqlite3/storage.ide
/APITest/.vs/APITest/v15/Server/sqlite3/db.lock
/APITest/.vs/APITest/v15/.suo
